/* Your styles go here */
@import url("bootstrap/dist/css/bootstrap.min.css");
@import url("bootstrap-icons/font/bootstrap-icons.css");


*{
	margin: 0;
	padding: 0;
}

#jumbotron{
	background-image: url(../images/stock-mountains.jpg);
	background-color: lightcyan;
	background-position-y: 40%;
	background-size: 100%;
}

.card{
	border-radius: 0.75rem;
}

iframe{
	border-bottom-left-radius: 0.75rem;
	border-bottom-right-radius: 0.75rem;
}

a{
	color: black;
	text-decoration-line: none;
}

a:hover{
	color: blue;
}